h1{
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Style the box around the entry */
li{
    border: 1px solid #cccfff;
    width: 25%;
    border-radius: 15px;
    padding: 20px 10px 10px 25px;
}

.date{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20;
    font-family: monospace;
}

.date .separator{
    font-size: 24;
    font-weight: bold;
}

.content p{
    font-size: 18;
    font-family:monospace;
    width: 100%
}