body{
    background-color: #fffeee;
}

h1{
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Style the box around the entry */
li{
    border: 4px solid cornflowerblue;
    width: 25%;
    border-radius: 15px;
    padding: 20px 10px 10px 25px;
    margin: 10px;
    list-style-type: none;
}

.entry{
    position: relative;
}
.entry::after{
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -74px;
    background-color: #fff;
    border: 4px solid cornflowerblue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.entry::before{
    content: "";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    left: -45px;
    border: medium solid cornflowerblue;
    border-width: 10px;
    border-color: transparent cornflowerblue transparent transparent;
}

/* Style the Date display */
.date{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20;
    font-family: monospace;
}

.date .separator{
    font-size: 24;
    font-weight: bold;
}

/* Style the actual content of the event */
.content p{
    font-size: 18;
    font-family:monospace;
    width: 100%
}

/* Attempting to create a verticle timeline */
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* Actually create the vertical rule */
.timeline::after{
    position: absolute;
    left: 15px;
    content: "";
    width: 5px;
    background-color: blue;
    top: 0;
    bottom: 0;
}